body{
  color: rgb(240, 233, 226);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 30px 30px;
  border: 50px solid rgb(161, 148, 148);
  margin: 0 auto;

}

#container{

  width: 70%;
  padding: 10px;
  text-align: left;

}

p{
  text-align: left;
  font-weight: bold;
}

#cabecera{
  background-color: blueviolet;
  text-align: left;
  margin: 15px;
  margin-top: -10px;
  padding: 10px;
  color: beige;
  font-weight: 500;
  box-shadow: 0px 20px 20px 0px rgb(161, 148, 148);
}

#tagline{
  margin-left: 650px;
}

.greeting{
    display: block;
    text-align: center;
}

h1{
  font-weight: bold;
  color: black;
}